body {
  background-color: #bbc6f0; /*light blurple*/
}

h1 {
  font-family: 'milk_mangoregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  color: navy;
  text-align: center;
  padding: 20px;
}

p {
  font-family: 'hey_comicregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  margin-left: 20px;
}

.header {
  padding: 40px;
  text-align: center;
  background: #7086d4; /*blurple*/
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #24295c; /*dark blue*/
}

.navbar a {
  float: left; /*links stay beside each other*/
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #2f3578; /*slightly lighter dark blue*/
  color: #c3c4d4; /*greyish*/
}

.footer {
  padding: 20px;
  text-align: center;
  background: #7086d4;
}

.button {
  background-color: #7086d4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin:0 auto;
  width: 70px;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
