body {
  background-color: #e4d9d5;
  font-family: 'monday_sansregular', Arial, sans-serif;
}

h1 {
  font-family: 'milk_mangoregular', Arial, sans-serif;
  color: #2c4477;
  text-align: center;
  
}

h2{
  font-family: 'hey_comicregular', Arial, sans-serif;
  color: #917d75;

}

.header-wrapper {
  padding: 15px 40px;
  text-align: center;
  background: #6980b3; 
  color: white;
}

.header-wrapper h1 {
  font-size: 40px;
  padding: 10px;
  margin: 0px;
  
}

.navbar {
  overflow: hidden;
  background-color: #2c4477; /*dark blue*/
}

.navbar a {
  float: left; /*links stay beside each other*/
  display: block;
  color: #e0e0e9;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #35518d; /*slightly lighter dark blue*/
  color: #ffffff; /*greyish*/
}

.footer {
  padding: 20px;
  text-align: center;
  background: #6980b3;
}

.button {
  background-color: #2c4477;
  border: none;
  color: #e0e0e9;
  font-family: 'milk_mangoregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  margin:0 auto;
  width: 90px;
  border-radius: 8px;
}

.button1:hover {
  background-color: #35518d;
  color: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.content-wrapper{
  text-align: center;
  margin: 50;
}

.MCPT-Game-Jam{
  text-align: center;
  display:flex;
  justify-content:space-evenly;

}

.project-buttons-wrapper{


}

.footer-buttons-wrapper{
  display:flex;
  justify-content: space-between;
}